.plan--navigation {
  position: relative;
  display: flex;
  flex-direction: column;

  button {
    background: none;
    color: $color-300;
    text-align: left;
    border-bottom: solid 1px;
    border-radius: 0;
    width: 180px;

    &:last-child {
      border: none;
    }
  }
}
