.commitment {
  display: grid;
  padding: $space-375;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: $space-200;
  align-items: center;

  h3 {
    margin-bottom: $space-200;
  }

  img {
    border-radius: $border-radius-size;
  }
}
